<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <title>Welcome To EPortfolio</title>

  <!-- custome css file -->
  <link rel="stylesheet" href="/public/css/style_home.css">


</head>
<!-- ==================================Start Header Area=========================================-->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Uprank</label>
    <ul>
      <li><a href="/personal/home">Home</a></li>
      <li><a href="/personal/learning">Learning</a></li>
      <li><a href="/personal/working">Working</a></li>
      <li><a href="/personal/volunteer">Volunteer</a></li>
      <li><a class="active" href="/personal/contact">Contact</a></li>
      <a href="/personal/logout"><button class="logout">LOGOUT</button></a>
    </ul>
  </nav>
<!-- ==================================End Header Area=========================================-->
  

<!-- ==================================Start Main Area=========================================-->
  <section>
    <div class="column">
      <div class="card">
        <img src="/public/img/logo.png" style="width:150px;height:auto;padding-top:10px">
        <br>
        <br>
        <h1>Name {{name}}</h1>
        <br>
        <p class="title"> Email: {{email}}</p>
        <br>
        <p> Wechat: {{wechat}}</p>
        <br>
        <p> Phone: {{phone}}</p>
        <br>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><contact_button>Contact</contact_button></p>
      </div>
    </div>  
  </section>

  <!-- ==================================End Main Area=========================================-->
  <script>

  </script>
</body>

</html>