<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/public/css/fontawesome/css/all.css">

    <!-- custom style.css -->
    <link rel="stylesheet" href="/public/css/style_new_home.css">

    <!-- fontawesome -->
    <!-- <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script> -->

</head>
<body> 
    <div class="wrapper">

        <div class="sidebar">
            <h2>Uprank</h2>
            <ul>

                <li><a class="active" href="/personal/dashboard"><i class="fas fa-home"></i><p>Dashboard</p></a></li>
                <li><a href="/personal/file"><i class="fas fa-file"></i><p>Manage Files</p></a></li>
                <li><a href="/personal/education"><i class="fas fa-school"></i><p>Education</p></a></li>
                <li><a href="/personal/employment"><i class="fas fa-briefcase"></i><p>Employment</p></a></li>
                <li><a href="/personal/volunteer"><i class="fas fa-hands-helping"></i><p>Volunteer</p></a></li>
                <li><a href="/personal/setting"><i class="fas fa-cog"></i><p>Settings</p></a></li>

            </ul>

        </div>

        <div class="main-content">

            <div class="title_container">
                <div class="title">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="content_container">
                <div class="content">
                    <h2>Introduce</h2>
                    <p>{{include content}}</p>
                </div>
            </div>
            <div class="write_btn">
                <a href="/personal/working/edit/article"></a><i class="fas fa-edit fa-2x"></i>
            </div>
        </div>
    </div>
    
</body>
</html>