<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== FONTAWESOME ICONS ===== -->
        <link href="../public/css/fontawesome/css/all.css" rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../public/css/style_dash.css">

        <title>Uprank Portfolio</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class="fas fa-bars" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="{{profile_pic_path}}" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="fas fa-crown nav__logo-icon"></i>
                        <span class="nav__logo-name">Uprank</span>
                    </a>

                    <div class="nav__list">
                        <a href="/personal/dashboard" class="nav__link active">
                        <i class='fas fa-home nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="/personal/file" class="nav__link">
                            <i class='fas fa-file nav__icon' ></i>
                            <span class="nav__name">Files</span>
                        </a>

                        <a href="/personal/education" class="nav__link">
                            <i class='fas fa-school nav__icon' ></i>
                            <span class="nav__name">Educations</span>
                        </a>

                        <a href="/personal/employment" class="nav__link">
                            <i class='fas fa-briefcase nav__icon' ></i>
                            <span class="nav__name">Employments</span>
                        </a>

                        <a href="/personal/volunteer" class="nav__link">
                            <i class='fas fa-hands-helping nav__icon' ></i>
                            <span class="nav__name">Volunteer</span>
                        </a>

                        <a href="/personal/setting" class="nav__link">
                            <i class='fas fa-cog nav__icon' ></i>
                            <span class="nav__name">Settings</span>
                        </a>
                    </div>
                </div>

                <a href="/personal/logout" class="nav__link">
                    <i class='fas fa-sign-out-alt nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <div class="main-content">
            <div class="intro">
                <div class="content">
                    {{include content}}
                </div>
                <div class="button">
                    <a href="/personal/dashboard/doc/edit"><button>Edit your personal doc</button></a>
                </div>
            </div>

            <div class="share">
                <div class="link">
                    {{link}}
                </div>
                <div class="button">
                    <a href=""><button>Copy the link</button></a>
                </div>
            </div>
            <div class="profile">
                <div class="content">
                    <div class="pic">
                        <img src="{{profile_pic_path}}" alt="">
                    </div>
                    <div class="profile-box">
                        <p>Last Name: {{lastname}}</p>
                        <p>Email: {{email}}</p>
                        <p>Major: {{major}}</p>
                    </div>
                </div>
                <div class="button">
                    <a href=""><button>Edit profile</button></a>
                </div>
            </div>
        </div>
        <!--===== MAIN JS =====-->
        <script src="../public/js/main.js"></script>
    </body>
</html>
