<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <title>Editting</title>
    <link rel="stylesheet" href="/public/css/style_editarticle.css">
</head>
<body>
<!-- ==================================Start Header Area=========================================-->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Uprank</label>
    <ul>
      <li><a href="/personal/home">Home</a></li>
      <li><a href="/personal/learning">Learning</a></li>
      <li><a href="/personal/working">Working</a></li>
      <li><a href="/personal/volunteer">Volunteer</a></li>
      <li><a href="/personal/contact">Contact</a></li>
      <a href="/personal/logout"><button class="logout">LOGOUT</button></a>
    </ul>
  </nav>
<!-- ==================================End Header Area=========================================-->
  <div class="editor">
    <form action="" method="post">
        <textarea name="content" id="editor" placeholder="Start writting...">

        </textarea>
        <p><input type="submit" value="Submit" id="submitbtn"></p>
    </form>
  </div>


    <script src="/html/public/js/ckeditor5-build-classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>