<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- ===== FONTAWESOME ICONS ===== -->
        <link href="/public/css/fontawesome/css/all.css" rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="/public/css/style_dash.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <title>Uprank Portfolio</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class="fas fa-bars" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="{{profile_pic_path}}" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="fas fa-crown nav__logo-icon"></i>
                        <span class="nav__logo-name">Uprank</span>
                    </a>

                    <div class="nav__list">
                        <a href="/personal/dashboard" class="nav__link">
                        <i class='fas fa-home nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="/personal/file" class="nav__link">
                            <i class='fas fa-file nav__icon' ></i>
                            <span class="nav__name">Files</span>
                        </a>

                        <a href="/personal/education" class="nav__link">
                            <i class='fas fa-school nav__icon' ></i>
                            <span class="nav__name">Educations</span>
                        </a>

                        <a href="/personal/employment" class="nav__link active">
                            <i class='fas fa-briefcase nav__icon' ></i>
                            <span class="nav__name">Employments</span>
                        </a>

                        <a href="/personal/volunteer" class="nav__link">
                            <i class='fas fa-hands-helping nav__icon' ></i>
                            <span class="nav__name">Volunteer</span>
                        </a>

                        <a href="/personal/setting" class="nav__link">
                            <i class='fas fa-cog nav__icon' ></i>
                            <span class="nav__name">Settings</span>
                        </a>
                    </div>
                </div>

                <a href="/personal/logout" class="nav__link">
                    <i class='fas fa-sign-out-alt nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>

            </nav>
        </div>

        <div class="pages-content">
            <div class="display">
                {{employment_list}}
            </div>
            <div class="buttons">
                <button type="button" data-toggle="modal" data-target="#myModal">Edit your employments info</button>
            </div>

            <div class="forms_container">
              <form class="edit-forms" method="POST" action="/personal/employment/edit/submit">
                <!-- The Modal -->
                <div class="modal" id="myModal">
                  <div class="modal-dialog">
                    <div class="modal-content">

                      <!-- Modal Header -->
                      <div class="modal-header">
                        <h4 class="modal-title">Enter your education details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>

                      <!-- Modal body -->
                      <div class="modal-body">
                        <div class="edits-content">
                          <div class="input-field">
                              <i class="fas fa-building"></i>
                              <input name="Company" id="company" type="text" placeholder="Company" required>
                          </div>
                          <div class="input-field">
                              <i class="fas fa-user-tie"></i>
                              <input name="Title" id="title" type="text" placeholder="Title" required>
                          </div>
                          <div class="input-field">
                              <i class="fas fa-clock"></i>
                              <input name="Started" id="started" type="text" placeholder="Started From" required>
                          </div>
                          <div class="input-field">
                              <i class="far fa-clock"></i>
                              <input name="End" id="end" type="text" placeholder="End at" required>
                          </div>
                      </div>
                      </div>

                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="submit" value="Submit" class="btn btn-danger" data-dismiss="modal">Add</button>
                      </div>

                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <!--===== MAIN JS =====-->
        <script src="/public/js/main.js"></script>
    </body>
</html>
