<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== FONTAWESOME ICONS ===== -->
        <link href="../public/css/fontawesome/css/all.css" rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../public/css/style_dash.css">

        <title>Uprank Portfolio</title>
    </head>
    <body id="body-pd">
        <header class="header" id="header">
            <div class="header__toggle">
                <i class="fas fa-bars" id="header-toggle"></i>
            </div>

            <div class="header__img">
                <img src="{{profile_pic_path}}" alt="">
            </div>
        </header>

        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav__logo">
                        <i class="fas fa-crown nav__logo-icon"></i>
                        <span class="nav__logo-name">Uprank</span>
                    </a>

                    <div class="nav__list">
                        <a href="/personal/dashboard" class="nav__link">
                        <i class='fas fa-home nav__icon' ></i>
                            <span class="nav__name">Dashboard</span>
                        </a>

                        <a href="/personal/file" class="nav__link active">
                            <i class='fas fa-file nav__icon' ></i>
                            <span class="nav__name">Files</span>
                        </a>

                        <a href="/personal/education" class="nav__link">
                            <i class='fas fa-school nav__icon' ></i>
                            <span class="nav__name">Educations</span>
                        </a>

                        <a href="/personal/employment" class="nav__link">
                            <i class='fas fa-briefcase nav__icon' ></i>
                            <span class="nav__name">Employments</span>
                        </a>

                        <a href="/personal/volunteer" class="nav__link">
                            <i class='fas fa-hands-helping nav__icon' ></i>
                            <span class="nav__name">Volunteer</span>
                        </a>

                        <a href="/personal/setting" class="nav__link">
                            <i class='fas fa-cog nav__icon' ></i>
                            <span class="nav__name">Settings</span>
                        </a>
                    </div>
                </div>

                <a href="/personal/logout" class="nav__link">
                    <i class='fas fa-sign-out-alt nav__icon' ></i>
                    <span class="nav__name">Log Out</span>
                </a>
            </nav>
        </div>

        <div class="file-content">
            <div class="files">
                <h2>File List</h2>
                {{each filelist file index}}
                    <i class="fas fa-file"></i>
                    <a href="{{file.url}}"><li>{{file.fileName}}</li></a>
                    <a href="/personal/file/recycle?filename={{file.fileName}}"><i class="fas fa-trash"></i></a>
                </br>
                {{/each}}
            </div>
            <div class="deleted_files">
                <h2>Trash Bin</h2>
                {{each trashfilelist trashfile index}}
                  <i class="fas fa-file"></i>
                  <a href="{{trashfile.url}}"><li>{{trashfile.fileName}}</li></a>
                  <a href="/personal/file/delete?filename={{trashfile.fileName}}"><i class="fas fa-trash"></i></a>
                </br>
                {{/each}}
            </div>
            <div class="uploadbtn">
                <form action="/personal/file/upload" enctype="multipart/form-data" method="post">
                    <input type="file" id="real-file" name="uploadFile" hidden="hidden">
                    <button type="button" id="custom-button">Choose a file</button>
                    <span id="custom-text">No File Chosen</span>
                    <input type="submit" value="Upload" class="btn">
                  </form>
            </div>
        </div>
        <!--===== MAIN JS =====-->
        <script src="../public/js/main.js"></script>
        <script type="text/javascript">
            const realFileBtn = document.getElementById("real-file");
            const customBtn = document.getElementById("custom-button");
            const customTxt = document.getElementById("custom-text");

            customBtn.addEventListener("click",function(){
                realFileBtn.click();
            })

            realFileBtn.addEventListener("change",function(){
                if(realFileBtn.value){
                customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
                } else{
                customTxt.innerHTML = "No file chosen";
            }

            });

        </script>
    </body>
</html>
