<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To EPortfolio</title>

    <!-- custome css file -->
    <link rel="stylesheet" href="./public/css/style_home.css">
    
</head>
<body>


<!-- ==================================Start Header Area=========================================-->
  <header>
    <img class="logo" src="./public/img/logo.png" alt="logo">
    <nav>
      <ul class="nav_links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Learning</a></li>
        <li><a href="#">Working</a></li>
        <li><a href="#">Volunteer</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <a class="cta" href="#"><button class="logout">Log Out</button></a>
  </header>
<!-- ==================================End Header Area=========================================-->
  

<!-- ==================================Start Main Area=========================================-->
  <div class="main-area">
    <div class="welcome-box">
      <!-- Write Name Here -->
      <h1>Hi, {{username}}</h1>
      <!-- Age and gender -->
      <h1>{{message}}</h1>
    </div>
  </div>



<!-- ==================================End Main Area=========================================-->
    <script>
      
    </script>
</body>
</html>
