<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <title>Welcome To EPortfolio</title>
  <script src = "jquery.min.js"></script>
  <script src = "clipboard.min.js"></script>
  <!-- custome css file -->
  <link rel="stylesheet" href="/public/css/style_home.css">


</head>

<body>
<!-- ==================================Start Header Area=========================================-->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Uprank</label>
    <ul>
      <li><a class="active" href="/personal/home">Home</a></li>
      <li><a href="/personal/learning">Learning</a></li>
      <li><a href="/personal/working">Working</a></li>
      <li><a href="/personal/volunteer">Volunteer</a></li>
      <li><a href="/personal/contact">Contact</a></li>
      <a href="/personal/logout"><button class="logout">LOGOUT</button></a> 
      <input id="ShareLink" type="text" value=location.href>
      <button class="btn" data-clipboard-action="copy" data-clipboard-target="#ShareLink">ShareLink</button>
    </ul>
  </nav>
<!-- ==================================End Header Area=========================================-->
  

<!-- ==================================Start Main Area=========================================-->
  <div class="wrapper-flex">
    <div class="card-container"> 

     <div class="upper-container">
        <div class="image-container">
          <a href="/personal/home/edit"><img src="{{profile_pic_path}}" /></a>
        </div>
      </div>
  
      <div class="lower-container">
        <div>
          <p>First Name: {{firstname}}</p>
          <p>Last Name: {{lastname}}</p>
          <p>Date of Birth: {{dateofbirth}}</p>
          <p>Gender: {{gender}}</p>
          <p>Intro: {{intro}}</p>
        </div>
      </div>
  
    </div>

    <div class="card-container"> 

      <div class="upper-container">
         <div class="image-container">
           <a href="/personal/home/edit"><img src="{{profile_pic_path}}" /></a>
         </div>
       </div>
   
       <div class="lower-container">
         <div>
           <p>Graduated School: {{graduatedschool}}</p>
           <p>Major: {{major}}</p>
           <p>Degree: {{degree}}</p>
         </div>
       </div>
   
     </div>

     <div class="card-container"> 

      <div class="upper-container">
         <div class="image-container">
           <a href="/personal/home/edit"><img src="{{profile_pic_path}}" /></a>
         </div>
       </div>
   
       <div class="lower-container">
         <div>
           <p>Company: {{company}}</p>
           <p>Title: {{title}}</p>
           <p>Started From: {{startedfrom}}</p>
         </div>
       </div>
   
     </div>
  </div>

  <!-- ==================================End Main Area=========================================-->
  <script src="/public/js/clipboard.min.js"></script>
    <script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function(e) {
        alert("ShareLink copy to your clipboard");   
        console.log(e);
    });

    clipboard.on('error', function(e) {
        alert("ShareLink copy failed");   
        console.log(e);
    });
    </script>
</body>

</html>