<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To EPortfolio</title>

    <!-- Bootstrap css file -->
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">


    <!-- custome css file -->
    <link rel="stylesheet" href="./public/css/style.css">
    
</head>
<body>


  <!-- ==================================Start Header Area=========================================-->
    <header class="header_area">
        <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">{{username}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Learning</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Working</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Volunteer</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </header>
   <!-- ==================================End Header Area=========================================-->
  

  <!-- ==================================Start Main Area=========================================-->

   <main class="site-main">




  <!-- ==================================Start Banner Area=========================================-->
   <section class="site-banner">
     <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 site-title">
          <h3 class="title-text">Hey</h3>
          <h1 class="title-text text-uppercase">I am {{username}}</h1>
          <h2 class="title-text">{{message}}</h2>
        </div>
      </div>
     </div>
   </section>
  <!-- ==================================End Banner Area=========================================-->





  </main>
  <!-- ==================================End Main Area=========================================-->
    <script>
      
    </script>
</body>
</html>
