<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <title>Welcome To EPortfolio</title>

  <!-- custome css file -->
  <link rel="stylesheet" href="/public/css/style_lwv.css">


</head>

<body>
<!-- ==================================Start Header Area=========================================-->
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Uprank</label>
    <ul>
      <li><a href="/personal/home">Home</a></li>
      <li><a class="active" href="/personal/learning">Learning</a></li>
      <li><a href="/personal/working">Working</a></li>
      <li><a href="/personal/volunteer">Volunteer</a></li>
      <li><a href="/personal/contact">Contact</a></li>
      <a href="/personal/logout"><button class="logout">LOGOUT</button></a>
    </ul>
  </nav>
<!-- ==================================End Header Area=========================================-->
  

<!-- ==================================Start Main Area=========================================-->

<section class="bodysection">
  <div class="article_header">
    <h1>Article</h1>
    <a href="/personal/working/edit/article"><button id="writebtn">Edit</button></a>
  </div>

  <div class="file_header">
    <form action="/personal/working/edit/fileupload" enctype="multipart/form-data" method="post">
      <input type="file" id="real-file" name="uploadFile" hidden="hidden">
      <button type="button" id="custom-button">Choose a file</button>
      <span id="custom-text">No File Chosen</span>
      <input type="submit" value="Upload" class="btn">
    </form>
  </div>


  <div class="article_content">
    {{article}}
  </div>

  <div class="file_content">
    {{each filelist as file index}}
      <a href="{{file.url}}"><li>{{file.fileName}}</li></a></br>
    {{/each}}
  </div>
    
</section>

<!-- ==================================End Main Area=========================================-->
<script type="text/javascript">
  const realFileBtn = document.getElementById("real-file");
  const customBtn = document.getElementById("custom-button");
  const customTxt = document.getElementById("custom-text");

  customBtn.addEventListener("click",function(){
    realFileBtn.click();
  })

  realFileBtn.addEventListener("change",function(){
    if(realFileBtn.value){
      customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
    } else{
      customTxt.innerHTML = "No file chosen";
    }
    
  });

</script>
</body>

</html>