<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="./public/css/style_logine.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script type="text/ecmascript" src="./public/js/md5.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="./public/img/wave.png">
	<div class="container">
		<div class="img">
			<img src="./public/img/left.svg">
		</div>
		<div class="login-content">
			<form method="POST" action="http://3.131.49.106/Login">
				<img src="./public/img/avatar.svg">
				<h2 class="title">Sign in</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Email</h5>
           		   		<input name="email" type="text" class="input" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Password</h5>
           		    	<input name="password" type="password" class="input" required>
            	   </div>
            	</div>
                <input type="submit" class="btn" value="Login" onclick="md5_login()">
                <p>{{login_error_message}}</p>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="./public/js/login_error.js"></script>

    <script type="text/javascript">
        
        function md5_login() {
            //alert("test")
            var pwd = document.getElementById('pwd-input-login').value
            if (pwd != null && pwd != '' && pwd != undefined) {
                var hash_pwd = hex_md5(pwd)
                document.getElementById('pwd-input-login').value = hash_pwd
            }
        }

    </script>
</body>
</html>