<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/public/css/fontawesome/css/all.css">

    <!-- custom style.css -->
    <link rel="stylesheet" href="/public/css/style_managefiles.css">

    <!-- fontawesome -->
    <!-- <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script> -->

</head>
<body> 
    <div class="wrapper">

        <div class="sidebar">
            <h2>Uprank</h2>
            <ul>

                <li><a href="/personal/dashboard"><i class="fas fa-home"></i><p>Dashboard</p></a></li>
                <li><a class="active" href="/personal/file"><i class="fas fa-file"></i><p>Manage Files</p></a></li>
                <li><a href="/personal/education"><i class="fas fa-school"></i><p>Education</p></a></li>
                <li><a href="/personal/employment"><i class="fas fa-briefcase"></i><p>Employment</p></a></li>
                <li><a href="/personal/volunteer"><i class="fas fa-hands-helping"></i><p>Volunteer</p></a></li>
                <li><a href="/personal/setting"><i class="fas fa-cog"></i><p>Settings</p></a></li>

            </ul>

        </div>

        <div class="main-content">

            <div class="navbar">
                <div class="name">
                    <h3>{{lastname}}</h3>
                </div>
                <div class="profilelogo">
                    <i class="fas fa-user-circle fa-2x"></i>
                </div>
                
            </div>

            <div class="files_container">
                <div class="files">
                    {{each filelist as file index}}
                    <a href="{{file.url}}"><li>{{file.fileName}}</li></a></br>
                    {{/each}}
                </div>
            </div>
            <div class="buttons_container">
                <div class="buttons">
                    <form action="/personal/working/edit/fileupload" enctype="multipart/form-data" method="post">
                        <input type="file" id="real-file" name="uploadFile" hidden="hidden">
                        <button type="button" id="custom-button">Choose a file</button>
                        <span id="custom-text">No File Chosen</span>
                        <input type="submit" value="Upload" class="btn">
                      </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const realFileBtn = document.getElementById("real-file");
        const customBtn = document.getElementById("custom-button");
        const customTxt = document.getElementById("custom-text");

        customBtn.addEventListener("click",function(){
            realFileBtn.click();
        })

        realFileBtn.addEventListener("change",function(){
            if(realFileBtn.value){
            customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            } else{
            customTxt.innerHTML = "No file chosen";
        }
      
        });

    </script>

</body>
</html>