<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- custom style.css -->
    <link rel="stylesheet" href="/html/public/css/style_new_home.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>

</head>
<body> 
    <div class="wrapper">
        <div class="sidebar">
            <h2>Uprank</h2>
            <ul>
                <li><a class="active" href="#"><i class="fas fa-home"></i>Dashboard</a></li>
                <li><a href="#"><i class="fas fa-edit"></i>Edit aricle</a></li>
                <li><a href="#"><i class="fas fa-file"></i>Manage Files</a></li>
                <li><a href="#"><i class="fas fa-school"></i>Education</a></li>
                <li><a href="#"><i class="fas fa-briefcase"></i>Employment</a></li>
                <li><a href="#"><i class="fas fa-hands-helping"></i>Volunteer</a></li>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
            </ul>
        </div>

        <div class="main-content">
            <h1>Hello</h1>
        </div>
    </div>
    
</body>
</html>