<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/html/public/css/fontawesome/css/all.css">

    <!-- custom style.css -->
    <link rel="stylesheet" href="/html/public/css/style_new_home.css">

    <!-- fontawesome -->
    <!-- <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script> -->

</head>
<body> 
    <div class="wrapper">

        <div class="sidebar">
            <h2>Uprank</h2>
            <ul>
                <li><a class="active" href="#"><i class="fas fa-home"></i><p>Dashboard</p></a></li>
                <li><a href="#"><i class="fas fa-file"></i><p>Files</p></a></li>
                <li><a href="#"><i class="fas fa-school"></i><p>Education</p></a></li>
                <li><a href="#"><i class="fas fa-briefcase"></i><p>Employment</p></a></li>
                <li><a href="#"><i class="fas fa-hands-helping"></i><p>Volunteer</p></a></li>
                <li><a href="#"><i class="fas fa-cog"></i><p>Settings</p></a></li>
            </ul>
            <div class="user">
                <i class="fas fa-user-circle fa-2x"></i>
                <h3>{{lastname}}</h3>
            </div>
        </div>

        <div class="main-content">
            <div class="title_container">
                <div class="title">
                    <h1>{{title}}</h1>
                </div>
            </div>
            <div class="content_container">
                <div class="content">
                    <h2>{{content}}</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium laboriosam amet earum ex modi illo nobis explicabo soluta molestiae commodi? Inventore, aliquid sunt eligendi praesentium repellat quisquam ab modi esse.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid reiciendis, dolor, doloremque unde hic quas error, ipsam a corrupti adipisci quaerat laborum voluptatibus omnis eum. Nesciunt quidem atque consequatur facere?
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, mollitia beatae! Consectetur repellat exercitationem minus ullam ut dolorem quaerat sed, molestiae unde eum. Aliquid error facilis velit nisi, ex nemo.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt exercitationem quam reprehenderit doloribus quia molestiae dignissimos nam enim rem, a cumque voluptas eveniet beatae velit repellendus nostrum explicabo provident iure!
                    </p>
                </div>
            </div>
            <div class="write_btn">
                <a href="/personal/working/edit/article"></a><i class="fas fa-edit fa-2x"></i>
            </div>
        </div>
    </div>
    
</body>
</html>