<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <title>User Setting</title>

  <!-- custome css file -->
  <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/style_editprofile.css">


</head>
<!-- ==================================Start Header Area=========================================-->
  <nav class="header_nav">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Uprank</label>
    <ul>
      <li><a href="/personal/home">Home</a></li>
      <li><a href="/personal/learning">Learning</a></li>
      <li><a href="/personal/working">Working</a></li>
      <li><a href="/personal/volunteer">Volunteer</a></li>
      <li><a href="/personal/contact">Contact</a></li>
      <a href="/personal/logout"><button class="logout">LOGOUT</button></a>
    </ul>
  </nav>
<!-- ==================================End Header Area=========================================-->
  

<!-- ==================================Start Main Area=========================================-->
  <section>
    <form action="" method="POST">
    <div class="container">
      <div class="leftbox">
        <nav class="box_nav">
          <a onclick="tabs(0)" class="tab active">
            <i class="fa fa-user"></i>
          </a>
          <a onclick="tabs(1)" class="tab">
            <i class="fa fa-book"></i>
          </a>
          <a onclick="tabs(2)" class="tab">
            <i class="fa fa-briefcase"></i>
          </a>
          <a onclick="tabs(3)" class="tab">
            <i class="fa fa-hands-helping"></i>
          </a>
          <a onclick="tabs(4)" class="tab">
            <i class="fa fa-cog"></i>
          </a>
        </nav>
      </div>

      <div class="rightbox">
        <div class="profile tabShow">
          <h1>Personal Info</h1>
          <h2>First Name</h2>
          <input type="text" class="input" value="{{firstname}}">
          <h2>Last Name</h2>
          <input type="text" class="input" value="{{lastname}}">
          <h2>Date of Birth</h2>
          <input type="text" class="input" value="{{dateofbirth}}">
          <h2>Gender</h2>
          <input type="text" class="input" value="{{gender}}">
          <button class="btn">Update</button>
        </div>

        <div class="learning tabShow">
          <h1>Education Info</h1>
          <h2>Graduated School</h2>
          <input type="text" class="input" value="{{graduatedschool}}">
          <h2>Major</h2>
          <input type="text" class="input" value="{{major}}">
          <button class="btn">Update</button>
        </div>

        <div class="working tabShow">
          <h1>Working Info</h1>
          <h2>Company</h2>
          <input type="text" class="input" value="{{company}}">
          <h2>Title</h2>
          <input type="text" class="input" value="{{title}}">
          <h2>Started From</h2>
          <input type="text" class="input" value="{{startedfrom}}">
          <button class="btn">Update</button>
        </div>

        <div class="volunteer tabShow">
          <h1>Volunteer Info</h1>
          <h2>First Name</h2>
          <input type="text" class="input" value="{{firstname}}">
          <h2>Last Name</h2>
          <input type="text" class="input" value="{{lastname}}">
          <h2>Date of Birth</h2>
          <input type="text" class="input" value="{{dateofbirth}}">
          <h2>Gender</h2>
          <input type="text" class="input" value="{{gender}}">
          <button class="btn">Update</button>
        </div>

        <div class="setting tabShow">
          <h1>Setting</h1>
          <h2>Password</h2>
          <input type="password" class="input" value="{{password}}">
          <form action="" enctype="multipart/form-data" method="POST">
            <input type="file" id="upload" name = "uploadFile" accept="image/png,image/jpeg" hidden="hidden" />
            <img src="{{userphoto}}" id="userphoto">
          </form>
          <button class="btn">Update</button>
        </div>
      </div>
    </div>
    </form>
  </section>

  <!-- ==================================End Main Area=========================================-->
  
  <script src="/public/js/jquery.js"></script>
  <script>
    const tabBtn = document.querySelectorAll(".tab");
    const tab = document.querySelectorAll(".tabShow");

    function tabs(panelIndex){
      tab.forEach(function(node){
        node.style.display = "none";
      })
      tab[panelIndex].style.display = "block";
    }
    tabs(0);
  </script>
  <script>
    $(".tab").click(function(){
      $(this).addClass("active").siblings().removeClass("active");
    })
  </script>
  <script>
    const realFileBtn = document.getElementById("upload");
    const photoBtn = document.getElementById("userphoto");

    photoBtn.addEventListener("click", function(){
      realFileBtn.click();
    })
  </script>
</body>

</html>