<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
    <form class="sign-in-form" method="POST" action="/Forgot/ResettingPD">
        <h2 class="title">Reset Password</h2>
        <div class="input-field">
	        <i class="fas fa-envelope"></i>
                <input name="password" id="uid-input-login" type="text" placeholder="Password" required>
                <input name="token" id="uid-input-login" type="text" placeholder="Token" value="{{token}}" readonly = "true" required>
        </div>
        <input type="submit" value="Reset">
    </form>
<body>

