/* import font url */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

/* Start Global settings */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
/* End Global settings */


/* Start home.html header area */
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 700;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

button{
    padding: 12px;
    background-color: rgb(223, 90, 90);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 16px;
    color: white;
}

button:hover{
    background-color: rgb(223, 60, 60);
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logol{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }
}
/* End home.html header area */

/* Start working.html main area */

.wrapper-flex{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container{
    overflow: hidden;
    background-color: #FFF;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 300px;
    margin-bottom: .5rem;
    margin-left: .5rem;
}

.upper-container{
	height: 150px;
    background: #607D8B;
}
.image-container{
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(100px,100px);
}
.image-container img{
	width: 80px;
	border-radius: 50%;
}
.lower-container{
    background: white;
	height: 280px;
	padding: 20px;
	padding-top: 40px;
    text-align: center;
}


.lower-container p{
	font-size: 16px;
	color: gray;
    padding-bottom: 10px;
}


/* End home.html main area */



/* Start contact.html main area */
.column{
    width:100%;
    float:left;
    padding:200px 10px;
}
.row::after{
    content:"";
    display:table;
    clear:both;
}
@media screen and(max-width:600px){
    .column{
        width:100%;
        display:block;
        margin-bottom: 20px;
    }
}
.card{
    box-shadow: 0px 1px 10px 1px rgba(0,0,0,0.2);
    max-width:300px;
    margin:auto;
    background-color:white;
    text-align:center;
    border-radius:40px;
    padding-bottom:30px;
}
.title{
    color:grey;
    font-size:18px;
}
contact_button{
    border:none;
    padding:8px;
    display:inline-block;
    color:white;
    background-color: black;
    cursor:pointer;
    width:70%;
    border-radius:20px;
    font-size:18px;
    text-align:center;
}
a{
    text-decoration: none;
    font-size: 22px;
    color:black;
}
a:hover,contact_button:hover{
    opacity:0.6;
}
/* End contact.html main area */

