/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  --nav-width: 68px;

  /*===== Colors =====*/
  --first-color: #4723D9;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;

  /*===== Font and typography =====*/
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a{
  text-decoration: none;
}

/*===== HEADER =====*/
.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s;
}

.header__toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header__img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header__img img{
  width: 40px;
}

/*===== NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__logo, .nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav__logo{
  margin-bottom: 2rem;
}

.nav__logo-icon{
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav__logo-name{
  color: var(--white-color);
  font-weight: 700;
}

.nav__link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav__link:hover{
  color: var(--white-color);
}

.nav__icon{
  font-size: 1.25rem;
}

/*Show navbar movil*/
.show{
  left: 0;
}

/*Add padding body movil*/
.body-pd{
  padding-left: calc(var(--nav-width) + 1rem);
}

/*Active links*/
.active{
  color: var(--white-color);
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header__img{
    width: 40px;
    height: 40px;
  }

  .header__img img{
    width: 45px;
  }

  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  /*Show navbar desktop*/
  .show{
    width: calc(var(--nav-width) + 156px);
  }

  /*Add padding body desktop*/
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.main-content{
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "intro share"
  "intro profile";
}

.intro{
  grid-area: intro;
  margin: 20px;
  box-sizing: border-box;
  /* background: linear-gradient(45deg, var(--first-color), var(--first-color-light)); */
  text-align: start;
  overflow: hidden;
  /* border-radius: 20px; */
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.intro .content{
  min-height: 823px;
  align-items: flex-start;
  padding: 10px;
}

.intro button{
  width: 450px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #99b898;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  transition: .5s;
  margin-left: 30px;
}

.share{
  /* width: 798px; */
  /* height: 400px; */
  grid-area: share;
  margin: 20px;
  margin-bottom: 23px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.share #foo{
  margin-left: 10%;
  margin-top: 8px;
  width: 80%;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
}

.share button{
  width: 300px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  transition: .5s;
  float: right;
}

.profile{
  /* height: 400px; */
  /* width: 798px; */
  margin: 20px;
  grid-area: profile;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.profile .content{
  /* min-width: 688px; */
  min-height: 270px;
}

.profile button{
  width: 300px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  transition: .5s;
  float: right;
}

/* dash_edits */
.main-edit-content{
  align-items: center;
  text-align: center;
}

.main-edit-content .editor{
  width: 90vw;
  margin-top: 80px;
}

.main-edit-content #submitbtn{
  width: 280px;
  margin-top: 12px;
  padding: 12px;
  background-color: rgb(104, 144, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.ck-editor__editable {
  min-height: 60vh;
}

/* end dash_edits */

/* files page */

.file-content .files{
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
  margin: 12px;
}

.file-content .deleted_files{
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
  margin: 12px;
}

.file-content button,
.file-content .btn{
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 10px;
  transition: .5s;
}

#custom-button{
  float: left;
}

#custom-text{
  float: left;
  margin-top: 25px;
}

.btn{
  float: right;
}

/* end files page */

/* 3 pages */
.pages-content{
  margin-top: 80px;
}

.display{
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
  overflow: hidden;
}

.content-table{
  border-collapse: collapse;
  width: 100%;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table th,
.content-table td{
  border: 1px solid #6fcfff;
  padding: 5px 10px;
  font-size: 1.1rem;
}

.content-table tr:nth-child(odd){
  background: #ddd;
}

.content-table th{
  background-color: #f3f6fa;
}

.buttons button{
  width: 350px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 100px auto;
  position: absolute;
  left:50%;
  margin-left: -175px;
  transition: .5s;
}

.input-field{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 20px auto;
  position: relative;
  left:50%;
  margin-left: -190px;
  border-radius: 55px;
  padding: 0 .4rem;
}

.input-field i{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  margin-left: 20px;
  font-size: 1.1rem;
}

.input-field input{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder{
  color: #aaa;
  font-weight: 500;
}



/* end 3 pages */

/* setting page */

.setting-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* margin-top: 80px; */
}

.head{
  margin: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.head .head-img{
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.head .head-img img{
  width: 75px;
}

.head .btn{
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 10px;
  transition: .5s;
}

.head #custom-text{
  font-size: 16px;
  font-weight: 400;
}

.profile-setting{
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.setting-content .input-field{
  left: 0;
  margin-left: 10px;
  max-width: 240px;
}

.setting-content .input-field input{
  position: relative;
  left: 40px;
  bottom: 40px;
}

.setting-content button{
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 10px;
  transition: .5s;
  float: right;
}

.photoedit{
  position: relative;
  bottom: 25px;
  right: 30px;
}

.pwd-setting{
  margin: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}

.test{
  margin: 20px;
  box-shadow: 0 15px 45px rgba(0, 0, 0, .1);
}



/* end setting page */


@media only screen and (max-width: 768px){
  .main-content{
    display: flex;
    flex-direction: column;
  }

  .intro{
    margin: 20px;
  }

  .intro .content{
    min-height: 823px;
    align-items: center;
  }

  .intro button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #99b898;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 10px;
    transition: .5s;
    float: right;
  }

  .share{
    margin-top: 20px;
    margin-left: 0px;
    margin-bottom: 23px;
  }

  .share .link{
    min-height: 270px;
  }

  .share button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    transition: .5s;
    float: right;
  }

  .profile{
    min-height: 400px;
  }

  .profile .content{
    min-height: 270px;
  }

  .profile button{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 10px;
    transition: .5s;
    float: right;
  }

  .content-table thead{
    display: none;
  }

  .content-table tr,
  .content-table td{
    display: block;
  }

  .content-table tr:not(:last-child){
    border-bottom: 4px solid #5ca0c3;
  }

  .content-table td{
    padding-left: 54%;
    position: relative;
  }

  .content-table td::before{
    position: absolute;
    padding: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 45%;
    content: attr(data-col-title);
    font-weight: bold;
    background-color: #f3f6fa;
  }

  .setting-content{
   display: flex;
   flex-direction: column;
  }

}
